.inputOption
{
  display: flex;
  align-items: center;
  margin-top: 15px;
  transition: .5s;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  color: rgb(156, 156, 156);
  
}

.inputOption > h4
{
  margin: 0 5px;
}

.inputOption:hover
{
  background-color: whitesmoke;
  border-radius: 10px;
  transition: .5s;
}